Reset some default styles for better consistency
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define styles for the header */
header {
  background-color: #ad3183;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  margin: 50px;
  border-radius: 50px;
}

header h1 {
  font-size: 36px;
  margin: 0;
}
h2 {
  color: #333;
  font-size: 24px;
  text-align: center;
}
h3 {
  color: #333;
  text-align: center;
}
h4 {
  color: #333;
  text-align: center;
}

/* Style the main container */
.container {
  background-color: #e1dbe1;
  border-radius: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

/* Style form headings */
.container h2 {
  color: #333;
  font-size: 24px;
}

/* Style the grid layout for form fields */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* Style grid items (form fields) */
.grid-item {
  padding: 10px 0;
}

/* Style form labels */
label {
  font-weight: bold;
  color: #666;
}

/* Style number input fields */
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the Predict and Train buttons */
input[type="submit"] {
  background-color: #941111;
  color: #fff;
  border: none;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #37160a;
}

/* Style the result message */
.result {
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.result p {
  color: #333;
}
